footer.footer
  ul.social-icons 
    li.social-icons__list: a.social-icons__icon(href="#"): +icon({name:"facebook"}) 
    li.social-icons__list: a.social-icons__icon(href="#"): +icon({name:"instagram"}) 
    li.social-icons__list: a.social-icons__icon(href="#"): +icon({name:"pinterest"}) 