-
  const launchDates=[
    {
    title:"Days",
    id:"flip-days"
    },
    {
    title:"Hours",
    id:"flip-hours"
    },
    {
    title:"Minutes",
    id:"flip-minutes"
    },
    {
    title:"Seconds",
    id:"flip-seconds"
    }
  ]
  
article.article.article--launch
  header.launch-container
    h1.title.title--h1="WE'RE LAUNCHING SOON"
  .countdown
    each launchDate in launchDates 
      +flip-wrapp(launchDate)
