@use "../config/variables" as *;
@use "../mixins/to-desktop" as *;
@use "../mixins/dektop" as *;
*,*::before,*::after{
box-sizing: border-box;
}
body {
    min-height: 100vh;
}
h2,h1,body,ul{
    margin: 0;
    
}
ul{
    list-style-type: none;
    padding-left: 0;
}
li{
    
}
body {
  font-family: $main-font;
  background-image: url("../assets/images/pattern-hills.svg"), url("../assets/images/bg-stars.svg"), linear-gradient(var(--very-mostly-black) 40%, var(--purple-weird) 100%);
   background-size: 1100px 180px, cover, auto;
  background-position: -613px bottom, 0 0, top;
  background-repeat: no-repeat, repeat, repeat;
  @include desktop(){
    background-size: contain, cover, auto;
    background-position: 0 bottom, 0 0, top;
    
  }
}
