@use "../config/variables" as *;
@use "../functions/px-to-measure" as *;
.flip{
    display: flex;
    flex-direction: column;
    text-align: center;
    &__title{
        margin-top: px-to-measure(32px,"em");
        color:var(--grayish-blue);
        font-size: min(9px,2vw);
        text-transform: uppercase;
    }
}