:root{
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red:hsl(345, 95%, 68%);
    --white:hsl(0, 0%, 100%);
    --dark-desaturated-blue:hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-mostly-black:hsl(234, 17%, 12%);
    --purple-weird:hsl(276,21%,26%);
}
$main-font:'Red Hat Text',"sans-serif";
$breakpoint:( "desktop":1440px, "mobile":375px);